body{
    background-image: url(../drumkit/assets/background.jpg);
}
.keys div{
    border: 5px solid black;
    margin: 15px;
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
 }
 .keys div h2{
    color: white;
    text-shadow: 2px;
    font-size: 40px;
    font-style: bold;
 }
 .keys div p{
    color: yellow;
    size: 20px;
 }
 .keys{
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 40%;
 }
key:active, .playing {
    transform: scale(1.1); /* Slightly enlarges the key */
    border-color: gold !important; /* Changes background */
    box-shadow: 0 0 15px gold; /* Adds a glow effect */
   
}